#root {
	margin: 0 auto;
}

.films {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 0;
	gap: 30px 20px;
}

.films-card {
	padding: 20px;
	list-style-type: none;
	border: 1px solid black;
}

.actors-list {
	padding-left: 0;
	list-style-type: none;
}
