.material-icons {
	font-family: "Material Icons";
	font-weight: normal;
	font-style: normal;
	font-size: 24px; /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: "liga";
}

.main-body {
	font-family: "Montserrat", sans-serif;
}
.main-header {
	background: rgba(94, 93, 88, 0.6);
}

.container {
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 20px;
}

.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo-wrapper {
	display: flex;
	justify-content: center;
	margin: 0;
	padding-left: 13px;
}

.logo {
	display: flex;
	align-items: center;
	font-size: 32px;
	font-weight: 400;
	color: #fff;
}

.logo-hex_wrapper {
	position: relative;
}
.logo-letter {
	position: relative;
	margin-right: 20px;
	font-weight: 700;
	font-size: 40px;
	color: #fff;
	z-index: 3;
}
.clippedDiv {
	position: absolute;
	right: 3px;
	top: -7px;
	width: 67px;
	height: 58px;
	background-color: #18cfab;
	clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
	transform: rotate(90deg);
}

.accent-color {
	font-weight: bold;
	color: #18cfab;
}

.menu {
	display: flex;
	justify-content: center;

	margin: 0;

	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
}
.menu-item {
	padding: 48px 0 44px 21px;
}
.menu-link {
	color: rgba(255, 255, 255, 0.6);
}

.menu-link:hover {
	color: #18cfab;
}
.search {
	position: relative;
	top: -3px;
}

.main-bg {
	background: no-repeat url(../images/Sections-background/section-1.jpg);
	background-size: cover;
}

/* !banner */
.banner-description {
	margin: 0 auto;
	padding-top: 260px;

	text-align: center;

	font-weight: 700;
	font-size: 35px;
	text-transform: uppercase;
	color: #ffffff;
}
.accent-color_green {
	color: #18cfab;
}
.banner-title {
	padding-top: 22px;

	text-align: center;

	font-weight: 700;
	font-size: 78px;

	text-transform: uppercase;
	color: #ffffff;
}
.banner-slogan {
	margin: 0 auto;
	padding-top: 22px;
	text-align: center;

	font-weight: normal;
	font-size: 34px;

	color: #d4d4d4;
}

.btns-wrapper {
	text-align: center;
}

.btn {
	display: inline-block;
	padding: 16px 15px;
	margin: 122px auto 220px;

	font-weight: 700;
	font-size: 15px;

	text-transform: uppercase;
	color: #ffffff;
	border-radius: 5px;
	border-top: 4px solid #fff;
}

.btn-green {
	background-color: #18cfab;
	margin-right: 26px;
}
.btn-blue {
	background-color: #00cbf6;
}

/*! services-info */

.info-wrapper {
	display: flex;
	justify-content: center;
}
.card-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
	height: 360px;
	width: 100%;

	font-weight: 700;
	font-size: 20px;
	text-transform: uppercase;
}

.description-info {
	padding-bottom: 84px;
	padding-top: 30px;
}

.dark {
	background-color: #1c2a33;

	color: #18cfab;
}
.light {
	background-color: #18cfab;
	color: #ffffff;
}

/* !our-services */

.title {
	display: block;
	position: relative;
	text-align: center;
	margin: 0 auto;
	font-weight: 400;
	font-size: 36px;
	color: #4e4e4e;
	padding-top: 90px;
}

.title::before {
	position: absolute;
	content: "";
	bottom: -21px;
	left: 46%;
	width: 75px;
	background-color: #18cfab;
	border-bottom: 1px solid #18cfab;
}
.title::after {
	position: absolute;
	content: "";
	bottom: -26px;
	left: 47%;
	width: 75px;
	background-color: #18cfab;
	border-bottom: 1px solid #18cfab;
}

.services-menu {
	display: flex;
	justify-content: space-between;
	padding: 99px 0 15px;
	margin: 0 auto;
}
.services-item {
	width: 100%;
}

.services-link {
	text-align: center;
	display: block;
	height: 100%;
	padding-top: 28px;
	padding-bottom: 28px;
	font-weight: 400;
	font-size: 16px;
	color: #717171;
}

.services-link:hover {
	color: #18cfab;
}

.services-item:hover {
	outline: 2px solid #18cfab;
}

.services-link_active {
	color: #fff;
}

.services-link_active:hover {
	color: #fff;
}

.services-item_active {
	position: relative;
	background-color: #18cfab;
	outline: 2px solid #18cfab;
}

.services-item_active::after {
	position: absolute;
	content: "";
	border: 10px solid transparent;
	border-top: 10px solid #18cfab;
	bottom: -24%;
	left: 40%;
}

.service-item_wrapper {
	/* display: flex; */
	flex-direction: row;
	padding-bottom: 50px;
	display: none;
}
.service-item_wrapper__active {
	display: flex;
}

.service-item_description {
	margin: 0 auto;
	padding-left: 13px;
	font-weight: 300;
	font-size: 14px;
	color: #777777;
}

/* !installation */

.installation {
	position: relative;
	text-align: center;
	background: url(../images/Sections-background/section-2.jpg) 35% 45% no-repeat;
}

.installation::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
}

.title-wrapper {
	position: relative;
	z-index: 1;
}

.installation-title {
	margin: 0 auto;
	padding-top: 126px;
	font-weight: 700;
	font-size: 40px;
	text-transform: uppercase;
	color: #18cfab;
}
.installation-description {
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 65px;
	font-weight: normal;
	font-size: 16px;
	color: #d8d8d8;
}
.section-btn {
	display: inline-block;
	padding: 16px 15px;
	font-weight: 700;
	font-size: 15px;
	text-transform: uppercase;
	color: #ffffff;
	border-radius: 5px;
	border-top: 4px solid #fff;
	margin-bottom: 128px;
}

/* !porfolio section */

.our-portfolio {
	background-color: #e9edef;
	padding-bottom: 100px;
}

.portfolio-title {
	padding-top: 95px;
}
.portfolio-menu {
	display: flex;
	justify-content: center;
	margin-top: 93px;
	padding: 0;
}

.work-menu_link {
	display: block;
	height: 100%;
	padding: 17px 24px;
	font-weight: 400;
	font-size: 14px;
	color: #717171;
	border: 1px solid #dadada;
	cursor: pointer;
}

.work-menu_link:hover {
	color: #18cfab;
	border-color: #18cfab;
}
.work-menu_link__active {
	border-color: #18cfab;
	color: #18cfab;
}

.portfolio {
	margin-top: 71px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 217px;
	padding-left: 0;
}

.portfolio-container {
	position: relative;
}

.portfolio-style {
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	padding-top: 45px;
	background-color: #e9edef;
	border-top: 3px solid #18cfab;
}

.portfolio-style_title {
	margin: 28px auto 0;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	color: #18cfab;
}

.portfolio-link__btn svg path:hover {
	fill: #12947a;
}

svg:hover {
	fill: #12947a;
}
/* 
.active-border {
	outline: 2px solid #18cfab;
} */

/* Portfolio cards animation */

.portfolio-container > .image-section,
.portfolio-container > .portfolio-style {
	display: block;
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition-duration: 0.5s;
	transition-property: transform, opacity;
}

.portfolio-container > .portfolio-style {
	position: absolute;
	opacity: 0;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	transform: rotateY(-180deg);
}
.portfolio-container > .image-section {
	transform: rotateY(0deg);
}

.portfolio-container:hover > .image-section {
	transform: rotateY(180deg);
}

.portfolio-container:hover > .portfolio-style {
	opacity: 1;
	transform: rotateY(0deg);
}

/* Portfolio cards animation */

.portfolio-style_group {
	margin: 0 auto;
	padding-top: 17px;
	font-weight: 300;
	font-size: 13px;
	color: #8a8a8a;
}

.btn-green-load {
	display: flex;
	padding: 20px 24px;
	margin: 70px auto 0;
	align-items: center;

	font-weight: 700;
	font-size: 15px;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #18cfab;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.loader {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	position: relative;
	animation: rotate 1s linear infinite;
}
.loader::before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	inset: 0px;
	border-radius: 50%;
	border: 5px solid #fff;
	animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes prixClipFix {
	0% {
		clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
	}
	25% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
	}
	50% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
	}
	75% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
	}
	100% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
	}
}

.btn-green-load:hover {
	background-color: #179c82;
}

.plus-form {
	padding-right: 5px;
}
.plus-form {
	height: 13px;
}

.news-menu {
	margin: 100px auto 130px;
	padding-left: 0;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 44px 36px;
}

.news-menu img {
	object-fit: cover;
}

.news-menu_item {
	position: relative;
}

.date-wrapper {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 0;
	right: 0;
	background-color: #203e38;
	padding: 6px 17px;
	font-weight: 400;
	line-height: 25px;
	font-size: 16px;
	color: #ffffff;
}

.news-img {
	height: 208px;
	cursor: pointer;
}

.news-menu-link:hover > .date-wrapper {
	background-color: #18cfab;
}

.news-date {
	margin: 0 auto;
}

.news-title {
	margin: 0 auto;
	padding: 14px 0 7px 18px;
	font-weight: 700;
	font-size: 18px;
	color: #717171;
	cursor: pointer;
}

.news-title:hover {
	color: #18cfab;
}

.admin-panel_wrapper {
	display: flex;
	flex-direction: row;
	font-weight: 300;
	font-size: 14px;
	color: #777777;
}

.author {
	margin: 0;
	padding-left: 18px;
}

.news-comments {
	position: relative;
	padding-left: 27px;
}

.news-comments::before {
	position: absolute;
	content: "";
	width: 0.7px;
	height: 12px;
	top: 3px;
	left: 13px;
	background-color: #777777;
}

/* swiper */

.slider .swiper-slide {
	text-align: center;
	font-size: 18px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.slider .swiper-slide img {
	margin-top: 38px;
	border: 10px solid #18cfab;
	height: 142px;
	border-radius: 50%;
	mix-blend-mode: normal;
	border-color: rgba(31, 218, 181, 0.2);
}

.slider .swiper {
	width: 100%;
	height: 300px;
	margin: 0 auto;
}

.slider .swiper-slide {
	background-size: cover;
	background-position: center;
}

.thumbs-slider {
	max-width: 483px;
	height: 20%;
	padding: 50px 0 100px;
}

.thumbs-slider .swiper-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.thumbs-slider .swiper-slide {
	width: 90px !important;
	cursor: pointer;
}

.thumbs-slider .swiper-slide-thumb-active {
	position: relative;
	top: -10px;
}

.thumbs-slider .swiper-slide img {
	mix-blend-mode: normal;
	border-color: rgba(31, 218, 181, 0.2);
	object-fit: cover;
}

.thumbs-slider .swiper-slide img:hover {
	opacity: 1;
	border-color: #179c82;
}
.thumbs-slider .swiper-slide-thumb-active img {
	border-color: #179c82;
}

.thumbs-slider .swiper-button-next,
.thumbs-slider .swiper-button-prev {
	top: 90px;
	width: 34px;
	height: 34px;
	/* background-color: #18cfab; */
	border: 1px solid #fff;
	color: #fff;
	cursor: pointer;
	align-items: center;
}

.thumbs-slider .swiper-button-next:hover,
.thumbs-slider .swiper-button-prev:hover {
	background-color: #18cfab;
	border: none;
}

.thumbs-slider .swiper-button-next:after,
.thumbs-slider .swiper-button-prev:after {
	font-size: 16px;
}
/* swiper */

/*! reviews */

.reviews {
	text-align: center;
	background: url(../images/Sections-background/section-3.jpg) no-repeat;
	background-size: cover;
}

.reviews-title_wrapper {
	margin: 0 auto;
}

.white-title {
	color: #ffffff;
}

.reviews-dotes {
	margin-top: 90px;
	margin-bottom: 30px;
}

.reviews-description {
	margin: 0 auto;
	padding-top: 35px;
	font-weight: 300;
	font-size: 16px;
	color: #bbbbbb;
}

.reviews-author {
	margin: 0 auto;
	padding-top: 35px;
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
	color: #18cfab;
}

.reviews-author_profession {
	margin: 0 auto;
	padding-top: 12px;
	font-weight: 300;
	font-size: 13px;
	color: #bbbbbb;
}
.main-reviews_img {
	margin-top: 38px;
	border: 10px solid #18cfab;
	height: 142px;
}

.reviews-img_small {
	height: 60px;
	border: 4px solid #18cfab;
	cursor: pointer;
}

.reviews-img {
	border-radius: 50%;
	mix-blend-mode: normal;
	border-color: rgba(31, 218, 181, 0.2);
}

.reviews-menu {
	position: relative;
	margin: 0 auto;
	padding: 51px 0 100px 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.slide-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 31px;
	height: 31px;
	border: 1px solid #bbbbbb;
	background-color: transparent;
	cursor: pointer;
}

.arrow {
	display: inline-block;
	padding: 3px;
	border: solid #bbbbbb;
	border-width: 0 2px 2px 0;
}

.right {
	margin-right: 4px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.left {
	margin-left: 4px;
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

.reviews-img_small:hover {
	border-color: #18cfab;
}

.slide-btn:hover > i {
	border-color: #fff;
}
.slide-btn:hover {
	background-color: #18cfab;
	border: none;
}

/* ! Gallery grid */
/* Masonry */

.grid {
	max-width: 1160px;
	margin: 100px auto 0 0;
}

/* clearfix */
.grid:after {
	content: "";
	display: block;
	clear: both;
}

/* ---- grid-item ---- */

.grid-item {
	width: 373px;
	height: 247px;
	margin-bottom: 20px;
	float: left;
}

.grid-item--width2 {
	width: 364px;
}
.grid-item--height1 {
	height: 264px;
}
.grid-item--height2 {
	height: 380px;
}
.grid-item--height3 {
	height: 453px;
}
.grid-item--height4 {
	height: 370px;
}
.grid-item--height5 {
	height: 290px;
}
.grid-item--height6 {
	height: 254px;
}

.grid-flex {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
}

.flex--item__bigger {
	width: 180px;
	height: 168px;
}
.flex--item__smaller {
	width: 124px;
	height: 89px;
}
/* Masonry */

.grid-wrapper {
	position: relative;
}

.grid-wrapper_card {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.grid-gallery__btn {
	width: 40px;
	height: 40px;
	border: none;
	background-color: #14b9d5;
}

.grid-gallery__btn:first-child {
	margin-right: 20px;
}

/* !footer */
.main-footer {
	margin-top: 67px;
	background-color: #22353f;
}

.copyright {
	display: block;
	text-align: center;
	margin: 0 auto;
	padding-top: 48px;
	padding-bottom: 48px;
	font-weight: 300;
	font-size: 14px;
	color: #aeaeae;
}

.copyright-green {
	color: #18cfab;
}
