// .btn {
//   padding: 15px 40px;
//   background-color: #b3382c;
//   color: #fff;
//   border: none;
//   border-radius: 5px;
//   font-size: 16px;
//   cursor: pointer;
//   margin: 5px;
//   margin-top: 10%;
// }

// .btn:hover {
//   transform: translateY(-1px);
//   box-shadow: 2px 3px 6px rgba($color: #000000, $alpha: 0.5);
// }

.btn {
  width: 80px;
  height: 26px;
  margin-left: 20px;
  border-radius: 5px;
  background-color: #1e1e20;
  font-size: 10px;
  line-height: 18px;
  color: #ffffff;
  font-family: "Arial";
  cursor: pointer;
}
.btn:hover {
  transform: scale(1.05);
  box-shadow: 1px 2px 4px rgba(79, 79, 79, 0.75);
}
