.page-body {
  margin: 0 auto;
  font-family: sans-serif;
}

.container {
  width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
}

.main_header {
  margin-top: 63px;
}

.logo {
  color: #4bcaff;
  font-size: 80px;
  line-height: 94px;
  font-weight: 400;
}
.accent_color {
  color: #000;
}

.menu_list {
  padding-left: 0;
  margin-top: 40px;
  background: #35444f;
  display: flex;
  justify-content: center;
  font-size: 24px;
  line-height: 28px;
}

.menu_list-item:last-child {
  border-right: 1px solid #fff;
}

.menu_list-item {
  /* padding: 24px 0 18px 0; */
  border-left: 1px solid #fff;
  border-right: none;
}

.menu_list-link {
  display: inline-block;
  color: #ffffff;
  padding: 26px 32px 19px;
}
.menu_list-link:hover {
  background: #222f3a;
  transition: 0.3s;
}

/* .item-func {
  padding: 24px 32px 18px;
}

.item-ramda {
  padding: 24px 38px 18px;
}

.item-fantasy {
  padding: 24px 40px 18px;
}

.item-node {
  padding: 24px 40px 18px;
} */

/* main-content */
.main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 48px;
}

.aside_menu {
  /* margin-top: 48px; */
  flex-basis: 344px;
  border: 1px solid #000000;
}

.aside_menu-list {
  background: rgba(0, 0, 0, 0.0001);
  padding-left: 0;
  font-size: 27px;
  line-height: 27px;
  margin: 0 auto;
}

.aside_list-link {
  display: inline-block;
  padding: 26px 44px;
  color: #485863;
  width: 100%;
}

.aside_list-link:hover {
  background: #dbdbdb;
  padding-left: 73px;
  color: #35444f;
  transition: 0.3s;
}

.main_content {
  flex-basis: 885px;
}

.img_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
  width: 885px;
  height: 529px;
}

.img-ram {
  width: 320px;
  height: 381px;
}

.img-ram:hover {
  transform: scale(1.3);
  transition: 0.7s ease;
}

.descr-text {
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
  margin-top: 37px;
}

.descr-text:last-child {
  margin-top: 34px;
  margin-bottom: 0;
}

/* Footer */

.main_footer {
  margin-top: 54px;
  margin-bottom: 30px;
}

.footer_navigation {
  background: rgba(99, 105, 110, 0.48);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 40px;
}

.footer_menu {
  padding-left: 0;
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 28px;
  line-height: 28px;
}

.footer_menu-item + .footer_menu-item {
  margin-left: 23px;
}

.footer_menu-link {
  display: inline-block;
  padding: 14px 0 13px;
  color: #0c1927;
  border-bottom: 1px solid rgba(99, 105, 110, 0);
}

.footer_menu-link:hover {
  color: #3181a6;
  border-color: #3181a6;
  transition: 0.3s;
}

.copyright {
  padding-left: 135px;
  font-size: 24px;
  line-height: 24px;
  color: #010101;
}
