.page-body {
  margin: 0;
  font-family: sans-serif;
  list-style-type: none;
}

.container {
  text-align: center;
}

.main_header {
  padding-top: 26px;
  padding-bottom: 26px;
}

.menu_list {
  margin: 0 auto;
  padding-left: 0;
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
}
.menu_item {
  display: inline;
  padding-left: 0;
  margin-right: 72px;
}

.menu_link {
  color: #ff0000;
}

.img {
  width: 100%;
  height: 790px;
}

.main_title {
  padding: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  color: #373737;
  text-align: center;
  margin-top: 47px;
}

.description {
  padding-left: 0;
  margin: 39px 68px 0;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 2.4px;
  color: #373737;
}

.second_description {
  padding-left: 0;
  margin: 28px 68px 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  color: #373737;
}

.btn {
  display: inline-block;
  margin-top: 66px;
  align-items: center;
  padding: 17px 43px;
  background: #ff0000;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: #ffffff;
}

.main_footer {
  margin-top: 42px;
  padding-top: 41px;
  padding-bottom: 29px;
}

.footer_menu-list {
  padding-left: 0;
  display: inline;
  margin-left: 135px;
}

.footer_menu-list-item {
  display: inline;
  text-transform: uppercase;
  border-right: 2px solid #16a085;
  padding-right: 7px;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 2.2px;
  text-transform: uppercase;
  margin-right: 6px;
}
li:last-child {
  border-right: none;
}

.footer_menu-link {
  color: #373737;
}

.copyright {
  display: inline-block;
  margin-left: 300px;
  font-weight: 700;
  font-size: 16px;
  color: #373737;
  vertical-align: center;
}

.toggle-theme {
  color: #ff0000;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 200;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"),
    url(https://example.com/MaterialIcons-Regular.woff) format("woff"),
    url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}
