.btn {
  padding: 15px 40px;
  background-color: #b3382c;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
  margin-top: 10%;
}

.btn:hover {
  transform: translateY(-1px);
  box-shadow: 2px 3px 6px rgba($color: #000000, $alpha: 0.5);
}
