.header {
   position: fixed;
   top: 0;
   left: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   height: 62px;
   background-color: rgb(132, 67, 96);
   z-index: 100;
   &__logo-container {
      margin-left: 210px;
      svg {
         align-items: center;
         padding: 5px;
      }
   }
   &__icons {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-right: 170px;
      &-container--favorite {
         position: relative;
         width: 65px;
         height: 48px;
         border: 2px solid rgb(28, 28, 28);
         border-radius: 5px;
         margin-right: 20px;
         align-items: center;
         svg {
            padding-top: 6px;
         }
      }
      &-container--cart {
         position: relative;
         display: flex;
         justify-content: center;
         width: 65px;
         height: 48px;
         border: 2px solid rgb(28, 28, 28);
         border-radius: 5px;
         align-items: center;
         svg {
            padding-top: 6px;
         }
      }
   }
}

.header__icons-container--span {
   position: absolute;
   display: block;
   padding: 1px;
   right: -1px;
   bottom: -1px;
   height: 16px;
   width: 16px;
   border-radius: 5px;
   background-color: rgb(28, 28, 28);
   color: rgb(162, 162, 162);
   font-size: 12px;
   text-align: center;
}
