.page__body {
  font-family: sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.main_header {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.bg_header {
  background-image: url("../image/header-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 100%;
  background-position-x: center;
  background-attachment: fixed;
}

.parallax_img--header {
  position: absolute;
  z-index: -1;
  width: 100%;
  top: -300px;
  display: none;
}

.header_navigation {
  display: flex;
  justify-content: space-between;
  background-color: #313131;
  width: 100%;
  /* position: fixed;
  z-index: 1; */
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
}

.logo_img {
  margin: 22px 27px;
  width: 27px;
  height: 27px;
}

.navigation_menu {
  display: flex;
  padding-left: 0;
  justify-content: center;
  align-items: center;
}

.navigation_link {
  color: #ffffff;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  padding-right: 35px;
  transition: 0.3s ease;
}

.navigation_link:hover {
  color: #14b9d5;
}

.btn_search {
  cursor: pointer;
  width: 70px;
  height: 70px;
  background-color: #000000;
  border: none;
}

.header_title {
  font-weight: 600;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  margin-top: 232px;
  color: #ffffff;
}

.buttons_wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 74px;
}

.header_btn {
  margin-top: 44px;
  display: inline-block;
  text-align: center;
  width: 170px;
  padding: 16px 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  background-color: #89ca62;
  border-radius: 4px;
}

.blue {
  margin-left: 20px;
  background-color: #14b9d5;
}

/* main content */

.popular_content {
  padding: 49px 0 70px;
  background-color: #f2f2f2;
}

.main_title {
  margin: 0 auto;
  padding-top: 49px;
  margin-bottom: 72px;
  font-weight: 600;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  color: #18b4cf;
}

.popular_post {
  padding-left: 0;
  margin-top: 50px;
  margin-bottom: 0;
  display: flex;
  flex-flow: column wrap;
  max-height: 900px;
}

.popular_card {
  width: 370px;
  margin-bottom: 30px;
  background-color: #ffffff;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.card_description {
  /* padding: 20px 0; */
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
  text-align: center;
}

.our_clients {
  padding: 117px 0 183px;
  position: relative;
  overflow: hidden;
}
.clients_bg {
  background-image: url("../image/our-clients.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 85%;
  background-position-x: center;
  background-attachment: fixed;
}

.parallax-img__clients {
  position: absolute;
  z-index: -1;
  width: 100%;
  top: -100px;
  display: none;
}

.our_clients--title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
.our_clients--list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 58px;
  max-width: 881px;
  align-items: center;
  margin: 0 auto;
}

.section_line {
  border: none;
  margin: 87px auto 100px;
  width: 60px;
  height: 3px;
  background-color: #18b4cf;
}

.top_rated {
  background-color: #fff;
  padding-top: 50px;
}

.top_rated-list {
  margin: 0 auto;
  padding-left: 0;
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.news {
  padding-top: 48px;
  padding-bottom: 77px;
  background-color: #fff;
}

.news_list {
  margin-top: 51px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;
  grid-auto-flow: row dense;
}

.col-3 {
  grid-column: span 3;
}

.col-6 {
  grid-column: span 6;
}

.col-9 {
  grid-column: span 9;
}

.news_link {
  display: inline-block;
  background-color: #f9f7f7;
}

.news_item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: right;
  color: #353a3d;
}

.news_item-descr {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  color: #5b6469;
}

.news_card-medium {
  padding-right: 25px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.news_card-medium .news_img {
  grid-row: 1 / 3;
}

.news_card-medium .news_item-title {
  margin-top: 40px;
  margin-bottom: 14px;
}

.news_card-medium .news_item-descr {
  padding-left: 10px;
}

.news_card-small .news_item-title {
  text-align: center;
  margin: 5px auto;
}

.news_card-big {
  padding-bottom: 3px;
  display: grid;
  grid-template-columns: 554px;
}
.news_card-big .news_item-title {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 27px;
}
.news_card-big .news_item-descr {
  margin-right: 15px;
  margin-left: 15px;
}

.news_item-descr {
  margin-bottom: 0;
}

.page_footer {
  background-color: #000;
}
.footer_grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 110px;
  min-height: 80px;
  align-items: center;
}
.footer_text {
  font-size: 13px;
  line-height: 13px;
  color: #ffffff;
}
.footer_link {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
