@import "libs/bootstrap-reboot.min";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@import "base/variables";

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    @media (max-width: 1200px) {
        width: 100%;
        padding: 0 15px;
    }
}

@import "blocks/header";
@import "blocks/hero";
@import "blocks/posts";
@import "blocks/shots";
@import "blocks/footer";
@import "blocks/media";
