.footer {
   background-color: #000;
   padding: 66px 0 70px 0;
   &__title--white {
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      color: #fefefe;
      text-transform: uppercase;
      text-align: center;
   }
   &__descr {
      display: block;
      max-width: 684px;
      text-align: center;
      margin: 22px auto 37px;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      color: #b9b9b9;
   }
   &__menu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 34px;
      &-item--position {
         position: relative;
         &-svg--v-a {
            position: absolute;
            bottom: 5px;
            left: -20px;
         }
      }
      &-item {
         list-style-type: none;
         cursor: pointer;
      }
      &-item:not(:last-child) {
         margin-right: 6px;
      }
   }
   &__menu-contacts {
      display: flex;
      justify-content: center;
      color: #b9b9b9;

      &-link {
         font-weight: 400;
         font-size: 16px;
         line-height: 26px;
         color: #b9b9b9;
      }
      &-link:hover {
         text-decoration: none;
         color: $hover_color;
      }
      &-link:hover > span {
         color: #b9b9b9;
      }
   }
}
