.menu {
   margin: 40px 0 0 0;
   display: flex;
   justify-content: center;
   list-style-type: none;
   &__item:not(:last-child) {
      margin-right: 68px;
   }
   &__item {
      line-height: 1;
      &-link {
         color: $main_color;
         font-weight: 400;
         font-size: 11px;
         text-transform: uppercase;
      }
      &-link:hover {
         color: $hover_color;
         text-decoration: none;
      }
   }
}
