.hero {
   // margin-top: 50px;
   margin: 50px auto 0;
}

@media screen and (max-width: 769px) {
   .hero {
      width: 100%;
      height: 100%;
   }
}
@media screen and (max-width: 565px) {
   .hero {
      width: 100%;
      height: 100%;
   }
}
