@media screen and (max-width: 769px) {
   .menu {
      &__item:not(:last-child) {
         margin-right: 34px;
      }
   }
   .hero {
      margin: 40px auto 0;
      &__img {
         max-width: 100%;
         max-height: 360px;
      }
   }
   .posts {
      margin-top: 60px;
      .grid-wrapper {
         display: flex;
         flex-direction: column;
         justify-content: start;
         max-width: 560px;
         margin-bottom: 60px;
      }
   }
   .shots {
      &__wrapper-menu-item:last-child {
         display: none;
      }
      &__wrapper-menu-img {
         width: 240px;
         height: 240px;
      }
   }
   .footer {
      padding: 56px 0 56px;
   }
}

@media (max-width: 575px) {
   .header {
      display: flex;
      justify-content: end;
      .menu {
         z-index: 1;
         min-width: 182px;
         min-height: 208px;
         position: absolute;
         visibility: hidden;
         margin-top: 60px;
         transition: all 0.3s ease-in-out;
         display: flex;
         justify-content: center;
         flex-direction: column;
         padding: 4px 0 5px 0;

         &__item:hover {
            border-bottom: 2px solid #cccccc;
         }
         &__item {
            margin: 0;
         }
         &.overlay {
            visibility: visible;
            background: #f5f5f5;
         }
         &__item-link {
            font-weight: 400;
            font-size: 11px;
            line-height: 22px;
            display: block;
            margin-bottom: 6px;
            margin-left: 10px;
         }
      }
      .header__menu-burger {
         height: 37px;
         width: 44px;
         overflow: visible;
         position: relative;
         background-color: #000000;
         margin: 23px 0 0;
         &.close {
            .header__menu-burger--span {
               top: 20px;
               transform: rotate(45deg);
               width: 17px;
            }
         }
         &.close {
            .header__menu-burger--span::after {
               top: 0;
               right: 20px;
               transform: rotate(90deg);
            }
         }
         &.close {
            .header__menu-burger--span::before {
               display: none;
            }
         }
         .header__menu-burger--span,
         .header__menu-burger--span::before,
         .header__menu-burger--span::after {
            background: #fff;
            display: block;
            height: 2px;
            opacity: 1;
            position: absolute;
            transition: 0.3s ease-in-out;
         }
         .header__menu-burger--span::before,
         .header__menu-burger--span::after {
            content: "";
         }
         .header__menu-burger--span {
            top: 17px;
            right: 13px;
            width: 17px;
         }
         .header__menu-burger--span::before {
            left: 0px;
            top: -7px;
            width: 17px;
         }
         .header__menu-burger--span::after {
            left: 0px;
            top: 7px;
            width: 17px;
         }
      }
      .active {
         color: $hover_color;
      }
   }
   .hero__img {
      max-height: 170px;
   }
   .posts {
      .grid-wrapper {
         &__item:last-child {
            display: none;
         }
         &__item {
            display: block;
            &-descr {
               &--title {
                  margin-top: 11px;
               }
               &--text {
                  display: none;
               }
            }
         }
      }
   }
   .shots__wrapper {
      &-menu {
         justify-content: flex-start;
      }
      .title__hidden {
         display: none;
      }
      .title__visible {
         display: block;
      }
      &-menu-item:not(:nth-child(1)) {
         display: none;
      }
      .shots__wrapper-menu-img {
         width: 300px;
         height: 300px;
      }
   }
   .footer {
      padding: 36px 0 48px;
      &__title--white {
         font-size: 14px;
      }
      &__descr {
         margin: 8px auto 26px;
         font-size: 12px;
         line-height: 20px;
      }
      &__menu {
         margin-bottom: 24px;
      }
      &__menu-contacts {
         flex-direction: column;
         align-items: center;
         &-link {
            font-size: 14px;
         }
      }
   }
}
