.posts {
   margin-top: 70px;
   .title {
      color: $main_color;
   }
   &__title--on-sections {
      margin-bottom: 0;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      text-transform: uppercase;
   }

   .grid-wrapper {
      margin-top: 24px;
      margin-bottom: 70px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 32px 55px;
      &__item {
         display: flex;
         &-img {
            margin-right: 21px;
         }
         .grid-wrapper__item-descr {
            &--title {
               font-weight: 700;
               font-size: 16px;
               line-height: 30px;
               margin-bottom: 0;
            }
            &--comments {
               font-weight: 400;
               font-size: 12px;
               line-height: 20px;
               color: $coments_color;
            }
            &--text {
               margin-bottom: 0;
               font-weight: 400;
               font-size: 14px;
               line-height: 26px;
               color: $paragraphs_color;
            }
         }
      }
   }
}
