.shots {
   background-color: rgba($color: #000000, $alpha: 0.06); // opacity: 0.06;
   mix-blend-mode: normal;
   &__wrapper {
      padding-bottom: 50px;
      &-menu {
         display: flex;
         flex-direction: row;
         justify-content: space-evenly;
         &-item {
            list-style-type: none;
         }
      }
      &-menu--w-titles {
         justify-content: space-between;
         padding: 48px 0 24px 0;
         .title {
            color: $main_color;
            margin-bottom: 0;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            text-transform: uppercase;
         }
         .title:hover {
            text-decoration: none;
            color: $hover_color;
         }
      }
   }
   .title__visible {
      display: none;
   }
}
