body {
  font-family: sans-serif;
  font-size: 16px;
}
input {
  outline: none;
}
input:active {
  outline: none;
}
:focus {
  outline: none;
}
.container {
  margin: 0 auto;
  padding-top: 100px;
  text-align: center;
  position: relative;
}

.active {
  border: 2px solid green;
}
.color-red {
  color: red;
}
.color-green {
  color: green;
}
.price-out {
  position: absolute;
  top: 60px;
}
.price-wrong {
  position: absolute;
  top: 150px;
}
.price-remove {
  display: inline-block;
  margin-left: 30px;
  border: 1px solid red;
  color: red;
  padding: 0 5px;
  border-radius: 50%;
  cursor: pointer;
}
