.bg {
	display: none;
	position: fixed;
	padding-top: 20vh;
	width: 100%;
	height: 100%;
	background-color: rgba($color: #000000, $alpha: 0.7);
	.modal {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		max-width: 580px;
		background-color: #e94b35;
		border: none;
		border-radius: 8px;
		&__header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 15px 25px;
			border: none;
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;
			background-color: #d64531;
			color: #fff;
			span {
				font-size: 35px;
				cursor: pointer;
			}
			span:hover {
				transform: scale(1.1);
			}
			h2 {
				font-size: 24px;
				font-weight: 400;
				margin: 0;
			}
		}
		&__body {
			display: flex;
			align-items: center;
			padding: 20px 30px;
			color: #fff;
			p {
				font-size: 18px;
			}
		}
		&__wrapper {
			padding-bottom: 30px;
			.btn {
				margin-top: 0;
			}
		}
	}
}
.active {
	display: block;
}
