.main_body {
  font-family: "Ubuntu", sans-serif;
  background: url(../images/bg.jpg) center / cover no-repeat fixed;
  z-index: -1;
}

.container {
  width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.main_header {
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
}

.header_wrapper {
  display: flex;
  align-items: center;
  padding: 0;
}

.logo_wrapper {
  flex-grow: 1;
}

.logo {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
  text-transform: uppercase;
  transition: color 0.3s;
}

.logo:hover {
  color: #3cb878;
}

.header_menu {
  display: flex;
}

.header_item {
  margin-left: 25px;
}

.header_img path {
  transition: fill 0.3s;
}

.header_img:hover path {
  fill: #3cb878;
}

.authorization {
  margin-left: 48px;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  position: relative;
}

.authorization::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 1px;
  height: 17px;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0.5;
  left: -25px;
  top: -2px;
}

.authorization_link {
  color: #fff;
  transition: color 0.3s;
}

.authorization_link:hover {
  color: #3cb878;
}

.main_content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign_up {
  max-width: 444px;
  padding: 31px 60px 38px;
  background-color: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  position: relative;
}

.sign_up::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #3cb878;
  left: 0;
  top: 31px;
}

.sign_up--login {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px 4px;
  margin-bottom: 34px;
}

.sign_up--title {
  margin: 0;
  font-size: 20px;
  line-height: 20px;
  color: #434343;
}

.log_in--wrapper {
  align-self: end;
  text-align: right;
}

.log_in {
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: color 0.3s, text-decoration-color 0.3s;
}

.log_in:hover {
  color: #01813f;
  text-decoration-color: #01813f;
}

.google,
.facebook {
  display: inline-block;
  position: relative;
  padding: 16px 20px;
  font-size: 16px;
  line-height: 16px;
  text-align: right;
  color: #ffffff;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.google::after,
.facebook::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 28px;
  left: 47px;
  top: 9px;
}

.facebook::after {
  left: 40px;
  background-color: #0a162f;
  opacity: 0.1;
}

.google::after {
  background-color: #2b0d09;
  opacity: 0.1;
}

.google {
  background-color: #df4a32;
}

.google:hover {
  background-color: #ab1f09;
}

.facebook {
  background-color: #305db8;
}

.facebook:hover {
  background-color: #022263;
}

.social_btn::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 19px;
  top: 15px;
  left: 12px;
  background-image: url(../icons/google.png);
}

.facebook::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 12px;
  left: 10px;
  background-image: url(../icons/facebook.png);
}

.sign_up-sign {
  display: flex;
  flex-direction: column;
}

.or_title {
  text-align: center;
  position: relative;
  margin-bottom: 11px;
  font-size: 14px;
  line-height: 14px;
  color: #848484;
}

.or_title span {
  padding: 0 4px;
  background-color: #ffffff;
  position: relative;
  z-index: 1;
}

.or_title::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #f2f2f2;
  top: 8px;
  left: 0;
}

.form_input {
  padding: 15px 19px;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
  border: 1px solid #f2f2f2;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
}

.form_input:focus {
  outline: none;
  border-color: transparent;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.form_input::placeholder {
  font-size: 14px;
  line-height: 14px;
  color: #bebebe;
}

.checkbox_label {
  position: relative;
  padding-left: 30px;
  margin-bottom: 20px;
}

.checkbox_label::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: -1px;
  border: 1px solid #f2f2f2;
  background-image: none;
}

.checkbox:checked + .checkbox_label::before {
  background-image: url(../icons/checkbox.svg);
  background-repeat: no-repeat;
}

.checkbox {
  display: none;
}

.checkbox_link {
  color: #3cb878;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: color 0.3s, text-decoration-color 0.3s;
}

.checkbox_link:hover {
  color: #01813f;
  text-decoration-color: #01813f;
}

.submit_btn {
  padding: 16px 0;
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  background-color: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
}

.submit_btn:hover {
  background-color: #01813f;
}
