.card {
   // margin-top: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   max-width: 230px;
   border-radius: 5px;
   filter: drop-shadow(0px 2px 1.5px rgba(0, 0, 0, 0.15));
   background-color: #ffffff;
   &__img {
      width: 230px;
      height: 220px;
      border-radius: 3px;
      background-image: linear-gradient(45deg, #131313 0%, #000000 100%);
      object-fit: cover;
      // filter: drop-shadow(0px 1px 2.5px rgba(0, 0, 0, 0.75));
      // box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.01);
      // border: 1px solid #000000;
   }
   &__body {
      padding: 10px 15px 10px;
      &-wrapper {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
         &--title {
            display: block;
            font-size: 14px;
            line-height: 18px;
            color: #282828;
            font-weight: bold;
            font-family: "Arial";
         }
         &--icon {
            height: 20px;
            width: 20px;
            .star {
               cursor: pointer;
            }
            .st0:hover {
               fill: rgb(255, 255, 5);
            }
            .active {
               cursor: pointer;
               .st0 {
                  fill: rgb(255, 255, 5);
               }
            }
         }
      }
      &-description {
         margin: 5px auto 5px;
         text-align: left;
         font-size: 14px;
         color: #2a2b2c;
         font-weight: normal;
         font-family: "Arial";
      }
   }
   &__footer {
      display: flex;
      flex-wrap: row nowrap;
      padding: 0 15px 20px;
      justify-content: space-between;
      align-items: center;
      &-price {
         font-size: 18px;
         color: #1e1e20;
         font-weight: bold;
         font-family: "Arial";
      }
      &-btn {
         width: 80px;
         height: 26px;
         border-radius: 5px;
         background-color: #1e1e20;
         font-size: 10px;
         line-height: 18px;
         color: #ffffff;
         font-family: "Arial";
         cursor: pointer;
      }
      &-btn:hover {
         transform: scale(1.05);
         box-shadow: 1px 2px 4px rgba(79, 79, 79, 0.75);
      }
   }
}
.card:hover {
   transform: translateY(-1px);
   box-shadow: 2px 3px 6px rgba(79, 79, 79, 0.75);
}
