.main_body {
  font-family: "New Gothic";
  background: #000;
  color: #c5b825;
  font-size: 380%;
}
.container {
  position: absolute;
  width: 100%;
  height: 60em;
  bottom: 0;
  overflow: hidden;
  transform-origin: 50% 100%;
  transform: perspective(900px) rotateX(35deg);
}

.wrapper {
  position: absolute;
  top: 100%;
  animation-name: mooving-text;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.title {
  text-align: center;
  margin-bottom: 80px;
  text-transform: uppercase;
}

.description {
  line-height: 1.5;
}

.description:not(:last-child) {
  margin-bottom: 70px;
}

@keyframes mooving-text {
  from {
  }
  to {
    top: -50%;
  }
}

@font-face {
  font-family: "New Gothic";
  src: url(../fonts/News\ Gothic\ T\ Bold.ttf);
}
