body {
  background: #1f3b4e;
}

.toggle-theme {
  color: #ffffff;
}
.toggle-theme:hover {
  color: aqua;
}

.menu_item {
  border-color: #000000;
}
.menu_link {
  color: #ffffff;
}
.menu_link:hover {
  color: aqua;
}

.btn {
  background-color: slateblue;
}
.btn:hover {
  color: aqua;
}

.main_title {
  color: rgb(129, 219, 255);
}

.description {
  color: rgb(135, 219, 252);
}

.footer_menu-link {
  color: #ffffff;
}

.footer_menu-link:hover {
  color: aqua;
}

.copyright {
  color: #ffffff;
}
