body {
  background: #ffffff;
}

.toggle-theme {
  color: #2c2c2c;
}
.toggle-theme:hover {
  color: #ff0000;
}

.menu_link {
  color: #2c2c2c;
}
.menu_link:hover {
  color: #ff0000;
}

.btn {
  background-color: rgb(19, 0, 141);
}
.btn:hover {
  color: #ff0000;
}

.main_title {
  color: #2c2c2c;
}

.description {
  color: #2c2c2c;
}

.footer_menu-link {
  color: #2c2c2c;
}

.footer_menu-link:hover {
  color: #ff0000;
}

.copyright {
  color: #2c2c2c;
}
