.page_body {
  font-family: sans-serif;
  background: url(../images/background.jpg) center / cover;
  /* background-repeat: no-repeat; */
}

.container {
  max-width: 1050px;
  padding: 0 15px;
  margin: 0 auto;
}

.page_header {
  padding-top: 46px;
}

.header_menu {
  margin: 0 auto;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  position: relative;
}

.logo_img {
  height: 47px;
}

.logo_img--hover {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: 0.3s;
}
.logo_title {
  color: #ffffff;
  font-weight: 700;
  font-size: 29px;
  text-transform: uppercase;
  margin: 0 0 0 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: 0.3s;
}
.logo_title--small {
  font-size: 18px;
}

.logo:hover .logo_img--hover {
  opacity: 1;
  transition: 0.3s;
}
.logo:hover .logo_title {
  color: #f26522;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 40px;
}
.email,
.phone {
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  transition: 0.3s;
}

.email:hover,
.phone:hover {
  color: #f26522;
}

.section_list {
  padding-left: 0;
  margin-top: 17px;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 37px 54px;
}

.card_link {
  display: flex;
  flex-direction: column;
}

.card_img-wrapper {
  position: relative;
  overflow: hidden;
}

/* .card_img {
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(180deg, #fff, #000) 1 100%;
} */

.card_overlay {
  position: absolute;
  bottom: -85px;
  left: 0;
  right: 0;
  background-color: #f26522;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 7px 16px 12px;
  transition: 0.3s;
}

.card__price {
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
}

.card_price--big {
  display: block;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  margin-top: 8px;
}

.card_details {
  margin: 12px;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

.card_details::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  transform: rotate(45deg);
  margin-left: 16px;
}

.section_title {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  margin: 20px auto;
  transition: 0.3s;
}

.card_link:hover .section_title {
  color: #f26522;
}
.card_link:hover .card_overlay {
  bottom: 0;
}

.main_footer {
  padding-bottom: 15px;
}

.copyright {
  margin: 0 auto;
  margin-top: 28px;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
}
