.root {
	display: flex;
	flex-flow: row wrap;
	gap: 20px;
}

.card {
	display: grid;
	grid-template-columns: 3 1fr;
	max-width: 400px;
	padding: 20px;
	border: 2px solid black;
}

.card-title {
	margin: 0;
	text-transform: uppercase;
	text-align: center;
}

.btn-del {
	max-height: 20px;
	align-self: flex-end;
}
